<%= simple_form_for(destination, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } ) do |form| %>
  <% if destination.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
        <% destination.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :title %>
  <%= form.rich_text_area :description %>

  <%= form.simple_fields_for :media, destination.media.new do |media_form| %>
    <template data-nested-form-target="media">
      <%= render("medium_fields", f: media_form) %>
    </template>
  <% end %>
  <%= form.simple_fields_for :media do |media_form| %>
    <%= render("medium_fields", f: media_form) %>
  <% end %>
  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add" class="ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium">Add todo</button>
  <%= form.submit class:"ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<% end %>
