<html lang="<%= I18n.locale %>">
	<head>
		<title><%= @pagetitle %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

		<link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.tailwindcss.com"></script>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_importmap_tags %>
	</head>

	<body>
		<div class="drawer">
			<input id="main-navigation-drawer" type="checkbox" class="drawer-toggle" /> 
			<div class="drawer-content flex flex-col">
				<!-- Navbar -->
				<div class="w-full navbar bg-base-300">
					<div class="flex mx-auto w-full container">
						<div class="flex-none lg:hidden">
							<label for="main-navigation-drawer" aria-label="open sidebar" class="btn btn-square btn-ghost">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
							</label>
						</div> 
						<div class="flex-1">
              <%= link_to image_tag(asset_path('svg/logo-horizontal-full.svg'), size: 300, alt: "Reizen naar Sri Lanka makkelijk gemaakt."), root_path, class: "footer-title" %>
            </div>
						<div class="flex-none hidden lg:block">
							<ul class="menu menu-horizontal">
								<!-- Navbar menu content here -->
								<li><a>Navbar Item 1</a></li>
								<li><a>Navbar Item 2</a></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Page content here -->
				<main>
					<%= yield %>
				</main>

				<footer class="footer cotainer bg-neutral text-neutral-content">
					<div class="flex mx-auto w-full container">
						<aside class="flex-1">
              <%= link_to image_tag(asset_path('svg/logo-horizontal-full.svg'), size: '500', alt: "Reizen naar Sri Lanka makkelijk gemaakt.", class: "m-5"), root_path, class: "footer-title" %>
            </aside> 
            <nav class="flex-none">
              <header class="footer-title">Jurisdictie</header> 
              <div class="grid gap-2">
              </div>
            </nav>
          </div> 
        </footer>
      </div> 
	    <div class="drawer-side">
		    <label for="main-navigation-drawer" aria-label="close sidebar" class="drawer-overlay"></label> 
        <ul class="menu p-4 w-80 min-h-full bg-base-200">
          <!-- Sidebar content here -->
          <li><a>Sidebar Item 1</a></li>
          <li><a>Sidebar Item 2</a></li>
        </ul>
	    </div>
    </div>
	</body>
</html>
